<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MicIndGenerator</title>
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/locale/pt-br.js"></script>
    


</head>

<body>

    <div id="app">
            
        <div class="container">
            
            <div class="tela1" v-if="tela">
                <div class=" u-full-width ">
                    <h1>Gerador de Tabelas {{title}}</h1>
                    <h3>Para Microfone, Indicadores e Som</h3>
                </div>
                <hr>

                <div class="row">
                    <!-- Dias de Reunioes-->
                    <div class=" six columns">
                        <h4>Dias de Reunião</h4>
                        <div class="u-full-width">
                            <div class="row">
                                <div v-for="dia in diasSemana"
                                >
                                    <button :class=" [dia.ativo ? 'button-primary' : 'button', 'one column' ]" v-on:click="dia.ativo=!dia.ativo" >{{dia.day}}</button>

                                </div>

                            </div>
                        </div>
                    </div>




                    <!-- Data  de reuniao-->
                    <div class=" six columns">
                        <h4>Data Inicial</h4>
                        <!--
                        <input type="date" placeholder="Data Inicial">
                        
                        //IMPORTANTE
                        OUTRO METODO PARA PEGAR DATA
                        @change="dataAtual=pickerSkeleton.getDate()"  
                        -->
                        <input 
                            type="text" 
                            id="datepicker-skeleton" 
                            class="u-cf"
                            @click="ativarDatePicker()"
                            @change="dataAtual=pickerSkeleton.toString('D/MMM/YYYY');"
                        >
                    </div>
                </div>

                <hr>
                <!-- Tabela de Irmãos e Funções-->
                <div style="overflow: auto; overflow-y: hidden">

                    <table class="u-full-width">
                        <caption>
                            <h4>Irmãos</h4>
                        </caption>
                        <!--Funções-->
                        <tr>
                            <td></td>
                            <th v-for="n in listaFuncoes">{{n}}</th>
                            <td></td>

                        </tr>

                        <!--Irmãos-->
                        <tr v-for="(irmao,index) in listaIrmaos">

                            <th>{{irmao.nome}}
                                <i class="fas fa-trash-alt u-pull-right" @click="listaIrmaos.splice(index,1)"></i>
                            </th>
                            <!--loop nas funçoes-->
                            <div >
                            <td v-for="(funcao,nome) in irmao.funcoes">
                                
                                
                                <button   v-on:click="trocarStatus(nome,index); log(listaIrmaos[index].funcoes[nome]);" :class=" [listaIrmaos[index].funcoes[nome] ? 'button-primary' : 'button']"  >
                                    <i v-if="funcao" class="fas fa-check"></i> 
                                    {{listaIrmaos[index].funcoes[nome]}}
                                </button>
                            </td>
                        </div>
                            <td></td>


                        </tr>

                        <tr>
                            <!--Input para Irmãos-->
                            <td>
                                <input type="text" placeholder="Adiconar Irmão" v-model="inputIrmao" @keyup.enter="addIrmao(inputIrmao)" >
                            </td>
                            
                            <td v-for="n in listaFuncoes"></td>
                            <td></td>
                        </tr>


                    </table>
                </div>

                
            </div>
            <div v-else>
                    <table class="u-full-width">
                            <caption>
                                <h4></h4>
                            </caption>
                            <!--Funções-->
                            <tr>
                                <th>Dia da Semana</th>
                                <th v-for="n in listaFuncoes">{{n}}</th>
                                <td></td>
    
                            </tr>
    
                            <!--Irmãos-->
                            <tr v-for="(dia,index) in tabelaFinal">
    
                                <th>{{dia.DiaM}} - {{index}}
                                    
                                </th>
                                <!--loop nas funçoes-->
                                <div >
                                    <td v-for="(funcao,nome) in dia.funcoes">
                                            {{funcao.nome}}
                                    </td>
                                </div>
                                <td></td>
    
    
                            </tr>
    

    
    
                        </table>
            </div>
            <hr>
                <!--Botão de Gerar pdf-->
                <div class="row">
                    
                    <button class=" u-full-width " @click="tela=!tela;gerarTabelaFinal()"> 
                        <p v-if="tela">
                        GERAR
                        <i class="fas fa-cogs"></i>
                        </p>
                        <p v-else>
                        REDEFINIR
                        <i class="fas fa-redo"></i>
                        </p>
                    </button>

                </div>
            <!--Footer-->
            <hr>
            <div class="row ">
                Made with
                <i class="fas fa-heart"></i> by Arnaldo Assis Ferreira
                <br> Tools:
                <br>
                <ul>
                    <li>VueJs</li>
                    <li>Skeleton</li>
                    <li>PickADay</li>
                </ul>
            </div>
        </div>
        
    </div>
    
    
    <script src='https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.4.0/pikaday.min.js'></script>
    <script src="js/datepicker.js"></script>

    <script>

        new Vue({
            el: '#app',
            data: {
                
                title: 'Hello World!',
                tela: true,
                diasSemana:  [
                                 {
                                    day:'S',
                                    ativo:true
                                },
                                 {
                                    day: 'T',
                                     ativo:false
                                    },
                                 {
                                    day: 'Q',
                                     ativo:false
                                    },
                                 {
                                     day:'Q',
                                     ativo:false
                                    },
                                 {
                                     day:'S',
                                     ativo:false
                                    },
                                 {
                                     day:'S',
                                     ativo:false
                                    },
                                 {
                                     day:'D',
                                     ativo:false
                                    }
                                 ],
                pickerSkeleton: null,
                dataAtual:moment().format('LTS'),
                proximaSegunda:moment().isoWeekday(3),
                listaIrmaos:[],
                listaFuncoes:['Indicador','Indicador/Microfone','Microfone','Som','Leitor'],
                inputIrmao:null,
                carregardatePicker:true,
                tabelaFinal:[]
            },
            mounted: function() {
                
                this.addIrmao("Arnaldo");
                this.addIrmao("Silvio");
                this.addIrmao("Luca");
            },
            updated() {

                //this.pickerSkeleton.setDate(this.dataAtual);

            },
            methods: {
                
                addIrmao: function(irmao) {
                    this.listaIrmaos.push({
                        nome: irmao,
                        funcoes:{}
                    });
                    this.listaFuncoes.forEach(x => {
                        this.listaIrmaos[this.listaIrmaos.length-1].funcoes[x]=true;
                    });
                    this.inputIrmao=null;
                },
                log: function (e) {
                    console.log(e);
                },
                trocarStatus: function(nome, index){
                    //this.listaIrmaos[index].funcoes[nome] = !this.listaIrmaos[index].funcoes[nome];
                    var local = this.listaIrmaos[index];
                    local.funcoes[nome] = !local.funcoes[nome];
                    this.listaIrmaos.splice(index,1,  local);
                    console.log(this.listaIrmaos[index].funcoes[nome] );

                },
                newPikaday: function(){
                    this.pickerSkeleton = new Pikaday({
                            format      : 'D/MMM/YYYY',
                            field       : document.getElementById('datepicker-skeleton'),
                            firstDay    : 1,
                            minDate     : new Date(2010, 0, 1),
                            maxDate     : new Date(2020, 12, 31),
                            yearRange   : [2010, 2020],
                            theme       : 'skeleton-theme',
                            firstDay    : 0,

                            i18n        : {
                                previousMonth : 'Mês Anterior',
                                nextMonth     : 'Próximo Mês',
                                months        : ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
                                weekdays      : ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
                                weekdaysShort : ['Dom','Seg','Ter','Qua','Qui','Sex','Sab']
                            }
                        });
                },
                ativarDatePicker: function()
                {
                    if(this.carregardatePicker){ 
                        this.newPikaday(); 
                        console.log("novo datepicker"+x);

                        this.carregardatePicker=false;
                    }

                },
                gerarTabelaFinal: function()
                {
                    this.tabelaFinal = [];
                    console.log("gerar tabela final");
                    //Dia Padrão
                    var defaultDay= {
                        DiaM:this.dataAtual,
                        DiaS:null,
                        funcoes:{}
                    }
                    this.listaFuncoes.forEach(x => {
                        defaultDay.funcoes[x]="null";
                    });

                   console.log(defaultDay);
                    
                    //Lista de Irmaos padrao
                    var defaultListaIrmao = this.listaIrmaos;

                    var thisDay = defaultDay;
                    var thisIrmaos = defaultListaIrmao;
                    //fazer sorteio 20 vezes
                    for (i=0;i<19;i++)
                    {
                        console.log("Loop sorteio i-"+i);
                        
                        //usados nessa reuniao
                        
                        thisDay = defaultDay;
                        thisIrmaos = defaultListaIrmao;
                        
                        thisDay.DiaM = this.dataAtual;
                        thisDay.DiaS = this.dataAtual;
                        

                        for(var abc in thisDay.funcoes)
                        {
                            thisDay.funcoes[abc] = this.listaIrmaos[( i%2==0 ? 0 : 1)]
                            console.log(abc);
                            console.log(thisDay.funcoes[abc].nome);
                            //console.log(thisDay.funcoes[abc]);
                            

                        }
                        debugger;
                        /*

                        //atribuindo as funções
                        for(var x in thisDay.funcoes)
                        {
                            var d=0;
                            console.log(x);
                            if (!thisIrmaos.some(y => y.funcoes[x])){
                                thisDay.funcoes[x] = "";
                                return;
                            }
                                


                            do{
                                d = Math.floor(Math.random() * thisDay.funcoes.length);
                            }while(!thisIrmaos[d].funcoes[x])

                            thisDay.funcoes[x] = thisIrmaos[d].nome;
                            
                        }
                        */

                        this.tabelaFinal.push(thisDay);
                    }

                    
                }

            },
            watch: {
                listaIrmaos: function (x){
                    console.log(this.listaIrmaos);
                },
                tela: function(x){
                    console.log(x);
                    if (x)
                    {
                        //this.newPikaday();
                        console.log("--"+x);
                        
                    }
                    this.carregardatePicker=x;
                }
            }
        });
       
    </script>

</body>

</html>
