<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MicIndGenerator</title>
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/locale/pt-br.js"></script>
    


</head>

<body>

    <div id="app">
            
        <div class="container">
            <div class="">
                <div class=" u-full-width ">
                    <h1>Gerador de Tabelas {{title}}</h1>
                    <h3>Para Microfone, Indicadores e Som</h3>
                </div>
                <hr>

                <div class="row">
                    <!-- Dias de Reunioes-->
                    <div class=" six columns">
                        <h4>Dias de Reunião</h4>
                        <div class="u-full-width">
                            <div class="row">
                                <div v-for="n in diasSemana"
                                >
                                    <button :class=" [n.ativo ? 'button-primary' : 'button', 'one column' ]" v-on:click="n.ativo=!n.ativo" >{{n.day}}</button>

                                </div>

                            </div>
                        </div>
                    </div>




                    <!-- Data  de reuniao-->
                    <div class=" six columns">
                        <h4>Data Inicial</h4>
                        <!--
                        <input type="date" placeholder="Data Inicial">
                        
                        //IMPORTANTE
                        OUTRO METODO PARA PEGAR DATA
                        @change="dataAtual=pickerSkeleton.getDate()"  
                        -->
                        <input 
                            type="text" 
                            id="datepicker-skeleton" 
                            class="u-cf"
                           
                            @change="dataAtual=pickerSkeleton.toString('D/MMM/YYYY');"
                        >
                    </div>
                </div>

                <hr>
                <!-- Tabela de Irmãos e Funções-->
                <div style="overflow: auto; overflow-y: hidden">
                    <table class="u-full-width">
                        <caption>
                            <h4>Irmãos</h4>
                        </caption>
                        <!--Funções-->
                        <tr>
                            <td></td>
                            <th v-for="n in ['Indicador','Indicador/Microfone','Microfone','Som','Leitor']">{{n}}</th>

                            <!--Input para Funções
                        <td>
                            <input type="text" placeholder="Função">
                        </td>
                    -->
                        </tr>

                        <!--Irmãos-->
                        <tr v-for="m in ['Arnaldo','Silvio','Reginaldo']">

                            <th>{{m}}
                                <!--
                            <button class="u-pull-right">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                            -->

                                <i class="fas fa-trash-alt u-pull-right"></i>

                            </th>
                            <!--loop nas funçoes-->
                            <td v-for="n in ['Indicador','Indicador/Microfone','Microfone','Som','Leitor']">
                                <!--
                            <label class="example-send-yourself-copy">
                                <input type="checkbox">
                                <span class="label-body"></span>
                            </label>
                            -->
                                <button>
                                    <i class="fas fa-check"></i>
                                </button>
                            </td>
                            <td></td>


                        </tr>

                        <tr>
                            <!--Input para Irmãos-->
                            <td>
                                <input type="text" placeholder="Adiconar Irmão">
                            </td>
                            <td v-for="n in ['Indicador','Indicador/Microfone','Microfone','Som','Leitor']"></td>
                            <td></td>
                        </tr>


                    </table>
                </div>

                <hr>
                <!--Botão de Gerar pdf-->
                <div class="row">

                    <button class=" u-full-width "> GERAR
                        <i class="fas fa-cogs"></i>
                    </button>

                </div>
            </div>

            <!--Footer-->
            <hr>
            <div class="row ">
                Made with
                <i class="fas fa-heart"></i> by Arnaldo Assis Ferreira
                <br> Tools:
                <br>
                <ul>
                    <li>VueJs</li>
                    <li>Skeleton</li>
                    <li>PickADay</li>
                </ul>
            </div>
        </div>
        
    </div>
    
    
    <script src='https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.4.0/pikaday.min.js'></script>
    <script src="js/datepicker.js"></script>

    <script>

        new Vue({
            el: '#app',
            data: {
                
                title: 'Hello World!',
                diasSemana:  [
                                 {
                                    day:'S',
                                    ativo:true
                                },
                                 {
                                    day: 'T',
                                     ativo:false
                                    },
                                 {
                                    day: 'Q',
                                     ativo:false
                                    },
                                 {
                                     day:'Q',
                                     ativo:false
                                    },
                                 {
                                     day:'S',
                                     ativo:false
                                    },
                                 {
                                     day:'S',
                                     ativo:false
                                    },
                                 {
                                     day:'D',
                                     ativo:false
                                    }
                                 ],
                pickerSkeleton: null,
                dataAtual:moment().format('LTS'),
                proximaSegunda:moment().isoWeekday(3)
            },
            mounted: function() {
                this.pickerSkeleton = new Pikaday({
                    format      : 'D/MMM/YYYY',
                    field       : document.getElementById('datepicker-skeleton'),
                    firstDay    : 1,
                    minDate     : new Date(2010, 0, 1),
                    maxDate     : new Date(2020, 12, 31),
                    yearRange   : [2010, 2020],
                    theme       : 'skeleton-theme',
                    firstDay    : 0,

                    i18n        : {
                        previousMonth : 'Mês Anterior',
                        nextMonth     : 'Próximo Mês',
                        months        : ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
                        weekdays      : ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
                        weekdaysShort : ['Dom','Seg','Ter','Qua','Qui','Sex','Sab']
                    }
                    
                });
            },
            methods: {
                teste : function(event) {
                    this.proximaSegunda= moment().isoWeekday(0)
                }
            },
            watch: {

            }
        });
       
    </script>

</body>

</html>