<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MicIndGenerator</title>
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/localStyle.css">


    

    <script src="vue.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/locale/pt-br.js"></script>
    



    <link rel=“shortcut icon” href=“favicon.ico” type=“image/x-icon”>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>

    <div id="app">
            
        <div class="container">
            
            <div class="tela1" v-if="tela">
                <div class=" u-full-width ">
                    <h1>Gerador de tabelas de privilégios </h1>
                    <h3>Para Microfone, Indicadores e Som</h3>
                    <h5>Esta é uma ferramenta para gerar uma tabela de privilégios para uma reunião das testemunhas de Jeová</h5>
                </div>
                <hr>

                <div class="row">
                    <!-- Dias de Reunioes-->
                    <div class=" six columns">
                        <h4>Dias de Reunião</h4>
                        <h6>Escolha os dias da semana em que a reunião ocorre</h6>
                        <div class="u-full-width">
                            <div class="row">
                                <div v-for="dia in diasSemana" >
                                    <button :class = " [dia.ativo ? 'button-primary' : 'button', ' four columns' ]" 
                                            v-on:click = "mudarDiaSemana(dia.index)" >
                                        {{dia.day}}
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Data  de reuniao-->
                    <div class=" six columns">
                        <h4>Mês</h4>
                        <h6>Escolha o mês para gerar a tabela</h6>
                        <!--
                        <input type="date" placeholder="Data Inicial">
                        
                        //IMPORTANTE
                        OUTRO METODO PARA PEGAR DATA
                        @change="dataAtual=pickerSkeleton.getDate()"  
                        -->
                        <div class="row">
                            <div class="six columns">
                                <label for="exampleRecipientInput">Mês</label>
                                <select class="u-full-width" id="exampleRecipientInput" v-model="selectedMes">
                                  <option v-for="mes, i in mesesLista" :value="mes.id">{{mes.month}}</option>
                                </select>
                              </div>
                              <div class="six columns">
                                <label for="exampleRecipientInput">Ano</label>
                                <select class="u-full-width" id="exampleRecipientInput" v-model="selectedAno">
                                    <option v-for="ano in anosLista" :value="ano">{{ano}}</option>
                                </select>
                              </div>
                        </div>
                        
                    </div>
                </div>

                <hr>
                <div class="row">
                    <div class="six columns">
                        <table class="u-full-width">
                            <caption>
                                <h4>Lista de Privilégios</h4>
                                <h6>Liste todos os privilégios, e a quantidade de irmãos necessários para cada função</h6>
                            </caption>
                            <!--Funções-->
                            <tr>
                                <th class="table-header">Privilégios</th>
                                <th class="table-header small-hearder">Qtd</th>
    
                            </tr>
    
                            <!--Irmãos-->
                            <tr v-for="(funcao,index) in listaFuncoes">
    
                                <td >
                                    {{funcao.name}}
                                    <i class="fas fa-trash-alt u-pull-right" @click="deletePrivilegio(index)"></i>
                                </td>
                                <!--loop nas funçoes-->
                                <td class="privilegio-actions" >
                                    <i class="fas fa-minus " @click="privilegioQtdMinus(index)"></i>
                                    <input type="text" disabled :placeholder="listaFuncoes[index].qtd" class=" privilegio-counter">
                                    <i class="fas fa-plus " @click="privilegioQtdPlus(index)"></i>
                                </td>
    
    
                            </tr>
    
                            <tr>
                                <!--Input para Privilégios-->
                                <td>
                                    <input type="text" placeholder="Adiconar Privilégio" v-model="inputPrivilegio" @keyup.enter="addPrivilegio(inputPrivilegio)" >
                                </td>
                                
                                <td></td>
                            </tr>
                        </table>
                      </div>
                      <div class="six columns">
                        <h4>Opções</h4>
                        <h6>Opções de customização</h6>

                        <label class="example-send-yourself-copy">
                            <input type="checkbox" v-model="showCreation">
                            <span class="label-body">Mostrar data de criação na tabela</span>
                          </label>
                      </div>
                </div>
                <div class="privilegio-table">
                        
                        
                </div>

                <hr>
                <!-- Tabela de Irmãos e Funções-->
                <div style="overflow: auto; overflow-y: hidden">

                    <table class="u-full-width">
                        <caption>
                            <h4>Privilégios dos irmãos</h4>
                            <h6>Nessa seção, defina os privilégios que cada irmão pode ter. Adicione mais irmãos no fim da tabela</h6>
                        </caption>
                        <!--Funções-->
                        <tr>
                            <td></td>
                            <th v-for="n in listaFuncoes" class="table-header">{{n.name}}</th>
                            <td></td>

                        </tr>

                        <!--Irmãos-->
                        <tr v-for="(irmao,index) in listaIrmaos">

                            <th>{{irmao.nome}}
                                <i class="fas fa-trash-alt u-pull-right" @click="deleteIrmao(index)"></i>
                            </th>
                            <!--loop nas funçoes-->
                            <div >
                            <td v-for="(funcao,nome) in listaFuncoes" class="button-box-table">
                                <button   v-on:click="trocarStatus(nome,irmao.nome); log(listaIrmaos[index].funcoes[nome]);" :class=" [funcao.irmaos.includes(irmao.nome) ? 'button-primary' : 'button']"  >
                                    <i v-if="funcao.irmaos.includes(irmao.nome)" class="fas fa-check"></i> 
                                    <i v-else class="fas fa-times"></i> 
                                </button>
                            </td>
                        </div>
                            <td></td>


                        </tr>

                        <tr>
                            <!--Input para Irmãos-->
                            <td>
                                <input type="text" placeholder="Adiconar Irmão" v-model="inputIrmao" @keyup.enter="addIrmao(inputIrmao)" >
                            </td>
                            
                            <td v-for="n in listaFuncoes"></td>
                            <td></td>
                        </tr>


                    </table>
                </div>

                
            </div>
            <div v-else >
                <div>
                    <h1>Tabela gerada!</h1>
                    <h6>Para editar algum campo, clique nele</h6>
                    <h6>Se em alguma semana um irmão desempenhar 2 ou mais funções, a linha irá ficar <span class="line-with-duplicate">vermelha</span> </h6>
                    <h6>Se aparecer a palavra <span class="line-with-duplicate">ERRO</span> é porque aquela função não tem irmãos suficiente, se isso acontecer, revise a atribuição de privilégios, ou edite manualmente</h6>
                    <h6>Se em alguma semana não houver reunião, clique no campo de algum irmão e selecione <span class="line-with-event">CONGRESSO / ASSEMBLEIA / SEM REUNIÃO</span></h6>
                    <h6>No final da tela, irá encontrar o botão para baixar em PDF</h6>
                </div>
                <div id="tabela-final">
                    <table class="u-full-width" >
                        <caption>
                            <h4>DESIGNIÇÕES PARA AS REUNIÕES</h4>
                        </caption>
                        <!--Funções-->
                        <tr>
                            <th>Data </th>
                            <th>Dia</th>
                            <th v-for="funcao in this.listaFuncoesTabelaFinal">{{funcao.name}}</th>
                            <td></td>

                        </tr>

                        <!--Irmãos-->
                        <tr 
                            v-for="(dia,indexTabela) in tabelaFinal"
                            :class = "{ 
                                'line-with-duplicate': (hasDuplicates(dia.funcoes) || dia.funcoes.includes('ERRO')),
                                'line-with-event': hasEvents(dia.funcoes)
                                }" >

                            <th @click="(clickTest(indexTabela, -2))">
                                <input 
                                    v-if="editObj[0] == indexTabela && editObj[1] == -2"
                                    type="text" 
                                    v-model="tabelaFinal[indexTabela].DiaM" 
                                    @keyup.enter="cleanEditObj()" >
                                <span v-else @click="(clickTest(indexTabela, -1))">
                                    {{dia.DiaM}}
                                </span>
                            </th>
                            <th @click="(clickTest(indexTabela, -1))">
                                
                                <select 
                                        v-if="editObj[0] == indexTabela && editObj[1] == -1"  
                                        class="u-full-width" 
                                        v-model="tabelaFinal[indexTabela].DiaS"
                                        @blur="cleanEditObj()"
                                        @change="cleanEditObj()"
                                        @keyup.escape="cleanEditObj()">
                                        <option v-for="diaDaSemana, i in diasSemana" :value="diaDaSemana.day">{{diaDaSemana.day}}</option>
                                </select>
                                <span v-else @click="(clickTest(indexTabela, -1))">
                                    {{dia.DiaS}}
                                </span>
                            </th>
                            <!--loop nas funçoes-->
                            <div>
                                <td v-for="(funcao,indexFuncao) in dia.funcoes" >
                                    
                                    <select 
                                        v-if="editObj[0] == indexTabela && editObj[1] == indexFuncao"  
                                        class="u-full-width" 
                                        id="exampleRecipientInput" 
                                        v-model="tabelaFinal[indexTabela].funcoes[indexFuncao]"
                                        @blur="changeComboBoxIrmao(indexTabela, indexFuncao)"
                                        @change="changeComboBoxIrmao(indexTabela, indexFuncao)"
                                        @keyup.escape="changeComboBoxIrmao(indexTabela, indexFuncao)">
                                        <option v-for="irmao, i in comboBoxListaIrmaos" :value="irmao">{{irmao}}</option>
                                    </select>
                                    <span v-else @click="(clickTest(indexTabela, indexFuncao))">
                                        {{funcao}}
                                    </span>

                                </td>
                            </div>
                            <td></td>
                        </tr>
                    </table>
                    <p><strong>"Mas que todas as coisas ocorram com decência e ordem"</strong> - 1 Coríntios 14:40</p>
                    <br>
                    <p v-if="showCreation"><strong>Gerado em: </strong> {{dataGeracao}}</p>
                </div>
                <button class=" u-full-width " @click="downloadPDF()" :disabled="loadingPDF"> 
                    <span v-if="loadingPDF">
                        Gerando
                        <i class="fas fa-spinner fa-spin"></i>
                    </span>
                    <span v-else>
                        Gerar pdf
                        <i class="fas fa-download"></i>
                    </span>
                    
                    
                </button>
                    
            </div>
            <hr />
                <!--Botão de Gerar pdf-->
                <div class="row">
                    
                    <button class=" u-full-width " @click="buttonGerar()"> 
                        <p v-if="tela">
                        GERAR
                        <i class="fas fa-cogs"></i>
                        </p>
                        <p v-else>
                        REDEFINIR
                        <i class="fas fa-redo"></i>
                        </p>
                    </button>
                    

                </div>
            <hr>
            <div>
                <h4>Salvar e restaurar</h4>
                <h6>As informações dessa ferramente(irmãos, privilégios, dias da semana, etc...) são salvas automáticamente no browser</h6>
                <h6>Nessa seção você pode salvar essas informações para utilizar em outro browser</h6>

                <div class="row">
                    <div class="six columns">
                        <button class=" u-full-width " @click="downloadJson()"> 
                            Exportar configurações
                            <i class="fas fa-download"></i>
                            </p>
                        </button>
                    </div>
                    <div class="six columns">
                        
                        <label class="button u-full-width" for="myfile" id="myfileLabel">
                                Importar configurações
                                <i class="fas fa-upload"></i>
                        </label>
                        <input type="file" id="myfile" name="myfile" @change="previewFiles" multiple>
                    </div>
                </div>

            </div>
            <!--Footer-->
            <hr>
            <div class="row ">
                Made with
                <i class="fas fa-heart"></i> by <a target="_blank" href="https://github.com/ArnaldoAF"
                class="font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline">ArnaldoAF</a>
                <br />
                - <a target="_blank" href="https://github.com/ArnaldoAF/MicIndGerador"
                    class="font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline">Github</a>
                <br />
                <span><strong>Útima atualização:</strong> 09/09/2023</span>
                <br> Tools:
                <br>
                <ul>
                    <li>
                        <a target="_blank" href="https://vuejs.org/"
                            class="font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline">VueJs</a>
                    </li>
                    <li>
                        <a target="_blank" href="http://getskeleton.com/"
                            class="font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline">Skeleton CSS</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://html2canvas.hertzen.com/"
                            class="font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline">html2canvas</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://parall.ax/products/jspdf"
                            class="font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline">jspdf</a>
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
    
    
    <script src='https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.4.0/pikaday.min.js'></script>
    <script src="js/datepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="js/html2canvas.js"></script>

    <script>

        
    </script>
<script src="js/app.js"></script>
</body>

</html>
